

.home{
    width: 100%;
    min-height: 100%;
    background-color: $color-white;
    // padding-top: 2%;
    
}

    .show{
        width: 100%;
        min-height: 100%;
        

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
               

        .show-prj{
                width: 80%;
                height: 80vh;     
                background-color: $color-gray; 
                background-image: $gradient-gray;  
                
                margin-top: 10vh;
                padding: 2%;

                border-radius: unquote("min(max(0.5rem,4vw), 12px)");
                box-shadow: var(--shadow-elevation-hi-w);

                display: flex;
                flex-direction: row-reverse;
                justify-content:space-evenly;

            &__fr{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                

                &__title{
                    
                    color: $color-blue;
                    // font-size:  unquote("min(max(1.5rem, 4vw), 42px)");
                }
                &__tags{
                   
                }
                &__but{
                    
                }
                &__nav{
                    
                    &__page{
                       &__txt{

                       }
                       &__next{
                        width:  unquote("min(max(1rem, 4vw), 36px)");
                           &__sl{
                                width:  unquote("min(max(1rem, 4vw), 36px)");
                                &__arrow{
                                    width:  "min(max(1rem, 4vw), 36px)";
                                }

                                
                           }
                       }
                    }
                    
                }     
            }
            &__bk{
                box-shadow: var(--shadow-elevation-mid-g);
                border-radius: 1vw;
                overflow: hidden;
                max-width: 60%;
                

                

                &__img{
                    // max-height: 100%;
                    max-width: 100%;
                    // border-radius: 1vw;
                    
                    

                }
            }
        }
