*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

html, body {
  height: 100%;
  overflow-x: hidden; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-height: 100vh; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

ul[role='list'], ol[role='list'] {
  list-style: none; }

html:focus-within {
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  width: 1vw;
  /* z-index: 200; */ }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

* {
  font-family: gesta, sans-serif; }

html {
  font-size: min(max(1rem, 4vw), 36px); }

h1 {
  font-size: min(max(1rem, 4vw), 150px);
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.2; }

h2 {
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.2; }

h3 {
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.3; }

p {
  font-size: min(max(1rem, 4vw), 36px);
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.4; }

blockquote {
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px; }

pre {
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px; }

a {
  font-size: min(max(1rem, 4vw), 36px);
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.4; }

:root {
  --shadow-color-w: 0deg 0% 59%;
  --shadow-elevation-low-w:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-w) / 0.34),
      0.6px 0.8px 1.1px -1.2px hsl(var(--shadow-color-w) / 0.34),
      1.4px 2px 2.7px -2.5px hsl(var(--shadow-color-w) / 0.34);
  --shadow-elevation-mid-w:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-w) / 0.36),
      1.1px 1.6px 2.2px -0.8px hsl(var(--shadow-color-w) / 0.36),
      2.8px 4.1px 5.6px -1.7px hsl(var(--shadow-color-w) / 0.36),
      6.8px 9.9px 13.5px -2.5px hsl(var(--shadow-color-w) / 0.36);
  --shadow-elevation-hi-w:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-w) / 0.34),
      2px 2.9px 4px -0.4px hsl(var(--shadow-color-w) / 0.34),
      3.7px 5.4px 7.4px -0.7px hsl(var(--shadow-color-w) / 0.34),
      6.1px 8.9px 12.1px -1.1px hsl(var(--shadow-color-w) / 0.34),
      9.7px 14.2px 19.3px -1.4px hsl(var(--shadow-color-w) / 0.34),
      15.1px 22.1px 30.1px -1.8px hsl(var(--shadow-color-w) / 0.34),
      23px 33.6px 45.8px -2.1px hsl(var(--shadow-color-w) / 0.34),
      33.9px 49.5px 67.5px -2.5px hsl(var(--shadow-color-w) / 0.34); }

:root {
  --shadow-color-b: 229deg 100% 22%;
  --shadow-elevation-low-b:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-b) / 0.34),
      0.5px 0.8px 1.1px -1.2px hsl(var(--shadow-color-b) / 0.34),
      1.3px 2px 2.7px -2.5px hsl(var(--shadow-color-b) / 0.34);
  --shadow-elevation-mid-b:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-b) / 0.36),
      1.1px 1.7px 2.3px -0.8px hsl(var(--shadow-color-b) / 0.36),
      2.6px 4.2px 5.6px -1.7px hsl(var(--shadow-color-b) / 0.36),
      6.4px 10.1px 13.5px -2.5px hsl(var(--shadow-color-b) / 0.36);
  --shadow-elevation-hi-b:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-b) / 0.34),
      1.9px 3px 4px -0.4px hsl(var(--shadow-color-b) / 0.34),
      3.5px 5.5px 7.3px -0.7px hsl(var(--shadow-color-b) / 0.34),
      5.7px 9.1px 12.1px -1.1px hsl(var(--shadow-color-b) / 0.34),
      9.1px 14.5px 19.3px -1.4px hsl(var(--shadow-color-b) / 0.34),
      14.3px 22.6px 30.1px -1.8px hsl(var(--shadow-color-b) / 0.34),
      21.7px 34.4px 45.8px -2.1px hsl(var(--shadow-color-b) / 0.34),
      32px 50.7px 67.4px -2.5px hsl(var(--shadow-color-b) / 0.34); }

:root {
  --shadow-color-g: 240deg 4% 44%;
  --shadow-elevation-low-g:
      0.3px 0.5px 0.7px hsl(var($color-gray) / 0.34),
      0.5px 0.8px 1.1px -1.2px hsl(var($color-gray) / 0.34),
      1.3px 2px 2.7px -2.5px hsl(var($color-gray) / 0.34);
  --shadow-elevation-mid-g:
      0.3px 0.5px 0.7px hsl(var(--shadow-color-g) / 0.36),
      1.1px 1.7px 2.3px -0.8px hsl(var(--shadow-color-g) / 0.36),
      2.6px 4.2px 5.6px -1.7px hsl(var(--shadow-color-g) / 0.36),
      6.4px 10.1px 13.5px -2.5px hsl(var(--shadow-color-g) / 0.36);
  --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.9px 3px 4px -0.4px hsl(var(--shadow-color) / 0.34),
      3.5px 5.5px 7.3px -0.7px hsl(var(--shadow-color) / 0.34),
      5.7px 9.1px 12.1px -1.1px hsl(var(--shadow-color) / 0.34),
      9.1px 14.5px 19.3px -1.4px hsl(var(--shadow-color) / 0.34),
      14.3px 22.6px 30.1px -1.8px hsl(var(--shadow-color) / 0.34),
      21.7px 34.4px 45.8px -2.1px hsl(var(--shadow-color) / 0.34),
      32px 50.7px 67.4px -2.5px hsl(var(--shadow-color) / 0.34); }

/* -------------------------------------
HEADER dsktop
------------------------------------- */
.h-menu {
  width: 100vw; }
  .h-menu__nav-bar-mob {
    position: fixed;
    top: 1vh;
    left: 1vw;
    right: 1vw;
    z-index: 100;
    padding: 1vh 1vw; }
    .h-menu__nav-bar-mob__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-right: 1vw; }
    .h-menu__nav-bar-mob__item {
      text-decoration: none;
      list-style-type: none; }
    .h-menu__nav-bar-mob__sl {
      display: block;
      position: relative;
      padding: 0.2em 0;
      width: min(max(2rem, 8vw), 72px);
      filter: invert(14%) sepia(100%) saturate(4485%) hue-rotate(232deg) brightness(74%) contrast(118%); }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 101;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #0026c9;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

/* The navigation menu links */
.sidenav a {
  padding: 0.5vh 2vw;
  text-decoration: none;
  color: #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f0f0f0; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 2vh;
  right: 2vw;
  display: block;
  padding: 0.2em 0;
  width: min(max(2rem, 8vw), 72px); }

.sidenav .sidenav_logo {
  position: absolute;
  top: 2vh;
  left: 2vw;
  display: block;
  padding: 0.2em 0;
  width: min(max(2rem, 8vw), 144px);
  filter: invert(100%) sepia(26%) saturate(89%) hue-rotate(231deg) brightness(110%) contrast(88%); }

.sidenav__arrow-rg {
  width: min(max(1rem, 4vw), 36px);
  margin-left: 2vw;
  filter: invert(100%) sepia(26%) saturate(89%) hue-rotate(231deg) brightness(110%) contrast(88%); }

.closebtn {
  filter: invert(100%) sepia(26%) saturate(89%) hue-rotate(231deg) brightness(110%) contrast(88%); }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; } }

.home {
  width: 100%;
  min-height: 100%;
  background-color: #f0f0f0; }

.show {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.show-prj {
  width: 80%;
  height: 80vh;
  background-color: #B5B5BD;
  background-image: linear-gradient(335deg, #b6b6be 0%, #bbbbc3 22%, #c4c4ca 33%, #ccccd1 42%, #d1d1d6 50%, #dadadd 58%, #e2e2e4 67%, #e8e8e9 78%, #f0f0f0 100%);
  margin-top: 10vh;
  padding: 2%;
  border-radius: min(max(0.5rem,4vw), 12px);
  box-shadow: var(--shadow-elevation-hi-w);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly; }
  .show-prj__fr {
    display: grid;
    grid-template: 2fr 1fr 1fr / 1fr 1fr;
    align-items: flex-end; }
    .show-prj__fr__title {
      grid-row: 1/2;
      grid-column: 1/3;
      color: #0026c9; }
    .show-prj__fr__tags {
      grid-row: 2/3;
      grid-column: 1/3;
      display: flex;
      flex-direction: row; }
      .show-prj__fr__tags__cont {
        display: flex;
        flex-direction: row; }
        .show-prj__fr__tags__cont__tag {
          margin-right: 15%;
          color: #0026c9; }
    .show-prj__fr__but {
      grid-row: 3/4;
      grid-column: 1/2;
      display: flex;
      flex-direction: row;
      color: #0026c9; }
      .show-prj__fr__but__button {
        color: #0026c9; }
    .show-prj__fr__nav {
      grid-row: 3/4;
      grid-column: 2/3; }
      .show-prj__fr__nav__page {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: flex-end;
        align-items: baseline; }
        .show-prj__fr__nav__page__txt {
          color: #0026c9; }
        .show-prj__fr__nav__page__arrow {
          width: min(max(1rem, 8vw), 72px);
          margin-left: 2vw;
          filter: invert(14%) sepia(100%) saturate(4485%) hue-rotate(232deg) brightness(74%) contrast(118%); }
  .show-prj__bk {
    box-shadow: var(--shadow-elevation-mid-g);
    border-radius: 1vw;
    overflow: hidden;
    max-width: 100%; }
    .show-prj__bk__img {
      max-width: 100%; }

.footer-h {
  width: 100%;
  height: 100%;
  background-color: #0026c9;
  padding: 2%; }
  .footer-h__cont {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr; }
    .footer-h__cont__cta {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
      display: flex; }
      .footer-h__cont__cta__top {
        color: #f0f0f0; }
      .footer-h__cont__cta__mid {
        color: #f0f0f0; }
      .footer-h__cont__cta__bot {
        color: #f0f0f0; }
        .footer-h__cont__cta__bot a {
          color: #f0f0f0; }
    .footer-h__cont__txt {
      grid-row: 3 / 4;
      grid-column: 1 / 4;
      display: flex; }
      .footer-h__cont__txt p {
        color: #f0f0f0; }
    .footer-h__cont__mail {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .footer-h__cont__mail__a__top {
        color: #f0f0f0; }
      .footer-h__cont__mail__a__bot {
        color: #f0f0f0; }
    .footer-h__cont__social {
      grid-row: 4 / 5;
      grid-column: 3 / 4;
      color: #f0f0f0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end; }
      .footer-h__cont__social a {
        color: #f0f0f0;
        margin-left: 3%; }
