// variables de Brakepoints



$color-white: #f0f0f0;
$color-darkGray: #B5B5BD;
$color-black: #252525;
$color-blue: #0026c9;

$filter-color-white: invert(100%) sepia(26%) saturate(89%) hue-rotate(231deg) brightness(110%) contrast(88%);
$filer-color-blue: invert(14%) sepia(100%) saturate(4485%) hue-rotate(232deg) brightness(74%) contrast(118%);